/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Extra large: large desktops, 1200px and up*/
@media (min-width: 1200px) {  }

/* large device: desktops, 992px and up*/

@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Banner Responsive*/
    .banner-style-one-item h1 {
    font-size: 55px;
}

.about-style-one-thumb {
    margin-top: 30px;
}

.about-style-one-content h3 {
    font-size: 45px;
}

.visa-category-style-one-heading h3 {
    font-size: 50px;
}

.team-one-heading h3 {
    font-size: 50px;
}

.testimonial-style-one-content {
    margin-top: 30px;
}

.testimonial-style-three-carousel {
    margin-left: 0;
}

.blog-style-one-heading h3 {
    font-size: 45px;
}

.about-style-two-content {
    padding: 0;
    margin-top: 42px;
}

}

/* MObile Layout: 576px.*/

@media (min-width: 576px) and (max-width: 767.98px) { 

    /* Banner Responsive*/
    .banner-style-one-item h1 {
    font-size: 55px;
}

.banner-style-one-item p {
    padding-right: 0;
}

.about-style-one-thumb {
    margin-top: 30px;
}

.about-style-one-content h3 {
    font-size: 45px;
}

.about-style-one-thumb .success-rate {
    position: relative;
    left: 0;
    max-width: 304px;
    margin-top: 23px;
    text-align: center;
    justify-content: center;
}

.visa-category-style-one-heading h3 {
    font-size: 40px;
}

.funfact-style-one-item {
    text-align: center;
    justify-content: center;
}

.funfact-style-one-item .funfact {
    text-align: center;
    justify-content: center;
}

.funfact-style-one-item p{
    border-left: none;
    padding-left: 0;
}
.team-one-heading h3 {
    font-size: 40px;
}

.testimonial-style-one-content {
    margin-top: 30px;
}

.testimonial-style-three-carousel {
    margin-left: 0;
}

.testimonial-style-one-content h3 {
    font-size: 40px;
}

.blog-style-one-heading h3 {
    font-size: 40px;
}

.about-style-two-content {
    padding: 0;
    margin-top: 42px;
}

.about-style-two-content h3 {
    font-size: 40px;
}

.about-style-two-thumb {
    padding: 0;

}

.about-style-two-thumb img.about-two-last {
    display: none;
}

.about-two-experience {
    bottom: 0;
}

}

/* MObile Layout: 576px.*/
@media (max-width: 575.98px) { 

/* Banner Responsive*/
    .banner-style-one-item h1 {
    font-size: 40px;
}

.banner-style-one-item p {
    padding-right: 0;
}

.about-style-one-thumb {
    margin-top: 30px;
}

.about-style-one-content h3 {
    font-size: 40px;
}

.about-style-one-thumb .success-rate {
    position: relative;
    left: 0;
    max-width: 304px;
    margin-top: 23px;
    text-align: center;
    justify-content: center;
}

.visa-category-style-one-heading h3 {
    font-size: 35px;
}

.funfact-style-one-item {
    text-align: center;
    justify-content: center;
}

.funfact-style-one-item .funfact {
    text-align: center;
    justify-content: center;
}

.funfact-style-one-item p{
    border-left: none;
    padding-left: 0;
}

.funfact-style-one-item .funfact h2 {
    font-size: 50px;
}

.funfact-style-one-item .funfact .operator {
    font-size: 50px;
}

.team-one-heading h3 {
    font-size: 35px;
}

.testimonial-style-one-content {
    margin-top: 30px;
}

.testimonial-style-three-carousel {
    margin-left: 0;
}
.testimonial-style-one-content h3 {
    font-size: 35px;
}

.blog-style-one-heading h3 {
    font-size: 30px;
}

.about-style-two-content {
    padding: 0;
    margin-top: 42px;
}

.about-style-two-content h3 {
    font-size: 40px;
}

.about-style-two-thumb {
    padding: 0;

}

.about-style-two-thumb img.about-two-last {
    display: none;
}

.about-two-experience {
    bottom: 0;
    max-width: 50%;
}

}